body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

input {
    padding: 10px;
    width: 300px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.badge-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.badge {
    margin: 10px;
    text-align: center;
}

.badge img {
    border-radius: 8px;
}

/* Buttons and input for copy/share */
.badge input {
    width: 199px;
    margin-top: 5px;
    padding: 3px;
}

.badge button, .badge a {
    margin: 5px 2px;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    background-color: #61a7edff;
    border: none;
    border-radius: 5px;
}

.badge button:hover, .badge a:hover {
    background-color: #0d5bb5;
}
